---
// Component Imports
import Main from '../layouts/Main.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
import Card from '../components/Card.astro';

const data = Astro.fetchContent('../pages/project/*.md');
// console.log(data);
---
<Main>
    <div id="home" class="sm:container md:flex md:flex-col mx-auto p-4">
        <Header />
        <Sidebar />
        <div class="sm:flex sm:flex-col md:grid md:grid-cols-2 lg:grid-cols-3 justify-items-center gap-1 md:gap-4 md:m-4">
            {
                data.map((project) => (
                    <Card name = { project.name } project_url = { project.url } description = { project.description } />
                ))
            }
        </div>
        <About />
        <Contact />
    </div>
</Main>
