<div id="about" class="m-4">
    <article>
        <div class="font-semibold tracking-wide text-center text-pale-violet-red">About</div>
        <hr>
        <p class="prose"> About me</p>
    </article>
</div>
