<header>
  <div class="flex">
    <!-- <img width="100" height="100" src="/assets/logo.svg" alt="Ben's logo" /> -->
    <div id="bhb-logo">
        <a href="/">
            <svg xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" width="90" height="40" viewBox="0 0 300.29492 175.2532" version="1.1" id="svg5" inkscape:version="1.1 (c68e22c387, 2021-05-23)" sodipodi:docname="bblogo.svg">
                <sodipodi:namedview id="namedview7" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1.0" inkscape:pageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0" inkscape:document-units="mm" showgrid="true" inkscape:zoom="0.75187991" inkscape:cx="661.00981" inkscape:cy="346.4649" inkscape:window-width="1920" inkscape:window-height="1016" inkscape:window-x="0" inkscape:window-y="27" inkscape:window-maximized="1" inkscape:current-layer="layer1">
                    <inkscape:grid type="xygrid" id="grid20102" originx="70.178765" originy="-57.037162"/>
                </sodipodi:namedview>
                <defs id="defs2">
                    <rect x="446.80719" y="424.90228" width="540" height="100" id="rect30620"/>
                    <rect x="446.80719" y="144.90227" width="320" height="60" id="rect25356"/>
                    <rect x="68.201935" y="393.95828" width="208.9649" height="331.41641" id="rect13124"/>
                    <rect x="68.201935" y="393.95828" width="208.9649" height="331.41641" id="rect20100"/>
                </defs>
                <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1" transform="translate(70.178763,-57.037166)">
                    <g id="g32211">
                    <g id="g20188" transform="matrix(1.3260044,0,0,1.8056474,-95.483691,-134.15095)">
                        <text xml:space="preserve" transform="matrix(-3.8112527,0,0,3.3256604,372.80804,-1225.0108)" id="text13122" style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect13124);fill:#db7093;fill-opacity:1;stroke:none"><tspan x="68.201172" y="429.34961" id="tspan32232">B</tspan></text>
                        <text xml:space="preserve" transform="matrix(3.8112527,0,0,3.3256604,-191.80947,-1224.9292)" id="text20098" style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect20100);opacity:1;fill:#db7093;fill-opacity:1;stroke:none" inkscape:label="text20098"><tspan x="68.201172" y="429.34961" id="tspan32234">B</tspan></text>
                    </g>
                    <text xml:space="preserve" transform="matrix(0.74131219,0,0,0.75232822,-217.95058,-12.32279)" id="text25354" style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect25356);fill:#db7093;fill-opacity:1;stroke:none"><tspan x="446.80664" y="180.29297" id="tspan32236">enjamin</tspan></text>
                    <text xml:space="preserve" transform="matrix(0.79330087,0,0,0.72602049,-235.2089,-134.061)" id="text30618" style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect30620);fill:#db7093;fill-opacity:1;stroke:none"><tspan x="446.80664" y="460.29297" id="tspan32238">oruff</tspan></text>
                    </g>
                </g>
            </svg>
        </a>
    </div>
    <div id="menu-arrow" class="fixed top-5 right-5 xl:hidden">
        <svg class="" width="25" height="25" viewBox="0 0 6.6145832 6.6145835" version="1.1" id="svg14325" inkscape:version="1.1 (c68e22c387, 2021-05-23)" sodipodi:docname="menu_arrow.svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
            <sodipodi:namedview id="namedview14327" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1.0" inkscape:pageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0" inkscape:document-units="mm" showgrid="true" units="px" fit-margin-top="0" fit-margin-left="0" fit-margin-right="0" fit-margin-bottom="0" inkscape:zoom="22.627417" inkscape:cx="12.020815" inkscape:cy="12.838408" inkscape:window-width="1920" inkscape:window-height="1016" inkscape:window-x="0" inkscape:window-y="27" inkscape:window-maximized="1" inkscape:current-layer="layer1">
                <inkscape:grid type="xygrid" id="grid14362" />
            </sodipodi:namedview>
            <defs id="defs14322" />
            <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1">
                <path style="fill:none;stroke: #db7094 ;stroke-width:0.465;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none" d="m 0.26458333,1.3229166 2.38124997,3.96875 H 3.96875 l 2.3812499,-3.96875" id="path14397" />
            </g>
        </svg>
    </div>
  </div>
</header>

<style>
    header {
        display: flex;
        flex-direction: column;
        gap: 1em;
        max-width: min(100%, 68ch);
    }
</style>