<div class="relative -mb-20">
    <div class="md:hidden">
        <img class="opacity-40 top-0 z-20" src="/assets/heroweb-narrow.webp" alt="hero">
    </div>
    <!-- <div class="hidden md:block">
        <img class="bg-center bg-cover bg-no-repeat h-full left-0 top-0 w-full xl:w-5/6 z-20" src="/assets/hero.webp" alt="hero">
    </div> -->

    <div class="absolute top-0 flex flex-col z-40 text-white h-full w-full">
        <div class="max-w-md mt-52 px-4">
            <div class="font-semibold mb-8 text-3xl">
                <p>
                    Hey, I'm Ben Boruff, programmer and system administrator.
                </p>
            </div>
            <div class="text-2xl">
                <p>
                    I do front and back-end web development using various tools, languages, and architechtures.
                </p>
            </div>
        </div>
    </div>
</div>