---
import Project from '../components/Project.astro';
const { content } = Astro.props;
let title = 'Ben Boruff | Projects';
---
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{title}</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
        <link rel="stylesheet" href="/style/main.css">
    </head>
    <body class="text-gray-900 font-sans antialiased leading-tight bg-gradient-to-r from-green-300 via-lime-300 to-orange-300 min-h-screen">
        <main>
            <Project name = { content.name} description = { content.description } project_url = { content.project_url }/>
        </main>
    </body>
</html>
